REACT_APP_CLIENT_ID = "add_your_key_here"
REACT_APP_CLIENT_SECRET = "add_your_key_here"
REACT_APP_REDIRECT_URI = http://localhost:3000/callback
REACT_APP_POST_LOGOUT_REDIRECT_URI = http://localhost:3000/
PORT = 3000
SKIP_PREFLIGHT_CHECK=true